* {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.2em;
    font-family: sans-serif;
}

body {
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
}

header {
  text-align: center;
}

section, form {
  width:100%;
  display: block;
}

section {
  border: 0.5px solid #adadad;
}

fieldset {
    width: 100%;
    border: 0;
}

div.Feld {
  background-color: #ffddaa;
  position: static;
  box-shadow: 0 2px 4px 0 #ddaa77;
  margin: 2%;
  padding: 2%;
}

.r2, .r3, .r4, .r5, .r6, .r8 {
  display: grid;
  flex-direction: row;
  align-items: center;
}

div.r2 {
  grid-template-columns: repeat(auto-fill, 50%);
}

div.r3 {
  grid-template-columns: repeat(auto-fill, 33%);
}

div.r4 {
  grid-template-columns: repeat(auto-fill, 25%);
}

div.r5 {
  grid-template-columns: repeat(auto-fill, 20%);
}

div.r6 {
  grid-template-columns: repeat(auto-fill, 16.6%);
}

div.r8 {
  grid-template-columns: repeat(auto-fill, 12.5%);
}

input,
select,
textarea {
    color:#777;
    border:0;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-indent: 0.125%;
    text-overflow: '';

    background-color: transparent;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[name*=Mod] {
    width:1.4em;
    height:1.4em;
    border-radius: 50%;
    border: 1px solid #999;
}

input[readonly]:not([name*=Mod]), textarea[readonly] {
    border:0;
    cursor: not-allowed;
}

input:not([readonly]):hover {
  cursor: text;
}

select:not([readonly]):hover {
   cursor: context-menu;
}
