* {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.2em;
    font-family: sans-serif;
}

body {
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
}

header {
  text-align: center;
}

section, form {
  width:100%;
  display: block;
}

section {
  border: 0.5px solid #adadad;
}

fieldset {
    width: 100%;
    border: 0;
}

div.Feld {
  background-color: #23ffff;
  width: 100%;
  display: inline-block;
}

div.Row {
  display: -webkit-flex;
  display: flex;
}

input,
select,
textarea {
    color:#777;
    border:0;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-indent: 0.125%;
    text-overflow: '';

    background-color: transparent;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[name*=Mod] {
    width:1.4em;
    height:1.4em;
    border-radius: 50%;
    border: 1px solid #999;
}

input[readonly]:not([name*=Mod]), textarea[readonly] {
    border:0;
    cursor: not-allowed;
}

input:not([readonly]):hover {
  cursor: text;
}

select:not([readonly]):hover {
   cursor: context-menu;
}
